/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--General Styling--*/

body{
    width:100%;
}

#container{
    background:#CDBB79;
    width:100%;
    height:100%;
    line-height:25px;
    padding-top:10px;
}

#container2{
    background:url('../images/background.jpg') no-repeat #CDBB79;
    width:100%;
    height:100%;
    line-height:25px;
    padding-top:15px;
}

h1{
    font-size:3em;
    font-family: 'Rubik', sans-serif;
    font-weight:700;
    margin-bottom:30px;
    color:#FFFFFF;
    text-align:center;
}

#title{
    color:#06425C;
}

h2{
    font-size:1.75em;
    margin-top:10px;
    margin-bottom:10px;
}

hr{
    border: 1px solid #000000;
    width:100%;
}

#container p:last-of-type:not(.final),#container2 p:last-of-type:not(.final){
    padding:10px 0 10px 0;
    font-weight:700;
}

/*--Form Styles--*/

#formStuff{
    font-size:1.2em;
    margin-top:30px;
    margin-left:20px;
    color:#06425C;
}

form{
    margin:20px;
}

#first{
    margin-top:30px;
}

fieldset{
    border:5px double black;
    border-radius:.5em;
    background: #F2F2F2;
    padding:10px;
    width:350px;
    margin:15px;
}

legend{
    text-align:center;
    font-size:2em;
    font-family: 'Rubik', sans-serif;
    border:5px double #000000;
    border-radius:.25em;
    background:#F2F2F2;
    color:#06425C;
    padding:10px;
}

label{
    font-weight:600;
}

input{
    display:block;
    margin-top:5px;
}

input[type="text"],input[type="number"]{
    border:1px solid #000000;
}

input[type=submit], input[type="button"]{
    display:block;
    width:250px;
    margin-left:70px;
    padding:15px;
    text-transform:uppercase;
    font-size:1.2em;
    background:#06425C;
    color:#FFFFFF;
    transition-property:width;
    transition-duration:1s;
}

input[type=submit]:hover, input[type="button"]:hover{
    display:block;
    width:260px;
    margin-left:70px;
    padding:15px;
    text-transform:uppercase;
    font-size:1.2em;
    background:#B7695C;
    color:#FFFFFF;
}

footer{
    margin-top:20px;
}

.memberName{
    text-transform:uppercase;
    text-decoration:underline;
}

.fullOutput{
    background:white;
    width:400px;
    border:1px solid #000000;
    margin-bottom:10px;
    margin-left:20px;
    padding-left:15px;
    padding-bottom:12px;
    border-top-right-radius:2em;
    border-bottom-left-radius:2em;
}

.final, .results{
    margin-left:20px;
}

.final{
    font-weight:600;
}