/*----
Jacob Collins
11-7-15
Design Patterns for Web Programming
Simple Form
---*/

/*---CSS Reset---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---General Styles---*/

body{
	font-family: 'Titillium Web', sans-serif;
	width:100%;
	margin:2%;
	background-color:black;
}

header{
	font-family: 'Titillium Web', sans-serif;
	color:white;
	padding-bottom:2%;
	font-size:3em;
}

.container{
	color:white;
}

/*---Form Styles---*/

form{
	font-family: 'Titillium Web', sans-serif;
	background-image: linear-gradient(to bottom, #FFC012 0%, #ff7f04 100%);
	border-radius:.5em;
	width:50%;
	padding:20px;
	margin-bottom:30px;
}

p{
	margin-bottom:20px;
}

input{
	margin-top:10px;
}

label:not(.radio), span{
		font-size:1.2em;
}

.radio{
	padding-top:10px;
}

option{
	padding-top:10px;
}

input[type=submit]{
	font-family: 'Titillium Web', sans-serif;
	font-size:1.1em;
	color:white;
	background:black;
	text-transform:uppercase;
	padding:10px 30px;
	border-radius:1.5em;
}

input[type=submit]:hover{
	color:black;
	background:orange;
	font-weight:700;
}

#entered{
	font-weight:700;
	text-transform:uppercase;
}


/*--Review after info entered---*/

.review{
	border:5px double white;
	width:15%;
	padding:4px;
	margin-bottom:30px;
}

/*---Footer---*/

footer{
	font-weight:700;
	border-top:1px solid white;
}

footer p{
	margin-top:15px;
}